* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
  }
  a {
    text-decoration: none;
  }
  @font-face {
    font-family: "TT Travels-Regular";
    src: url("https://anima-uploads.s3.amazonaws.com/5c18fe8298e39e000a3cd239/TTTravels-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Travels-DemiBold";
    src: url("https://anima-uploads.s3.amazonaws.com/5c80fb118a6fc600094e4b1b/TT Travels DemiBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Druk Wide-Bold";
    src: url("https://anima-uploads.s3.amazonaws.com/5c5d9b3b9905e5000c42ac51/DrukWide-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Druk Wide-BoldItalic";
    src: url("https://anima-uploads.s3.amazonaws.com/projects/60873778c0ff3678276feef1/fonts/druk-wide-bold-italic.otf")
      format("opentype");
  }
  
  @font-face {
    font-family: "Urban Starblues Demo-Regular";
    src: url("https://anima-uploads.s3.amazonaws.com/projects/64cf8cf3694c2122068e7d97/fonts/urbanstarbluesdemoregular-w1e7x.ttf")
      format("truetype");
  }
  